<html>
    <head>
        <title>Rootct</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Rootct</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>شرکت فناوری ارتباطات ریشه (Root Communication Technology=RCT) با هدف ارائه خدمات فنی مهندسی در واحدهای فناوری اطلاعات، شبکه های رایانه ای و مراکز ذخیره سازی اطلاعات (دیتا سنتر) و همچنین تاًمین نیازهای کامل مشتریان خود در زمینه تبادل و امنیت اطلاعات در سال ۱۳۹۷ آغاز به فعالیت نمود و از ابتدای کار، ارائه خدماتی متمایز در عرصه فناوری اطلاعات و امنیت اطلاعات مبتنی بر راهکارهای نوین و جامع همگام با کشورهای پیشرفته را سرلوحه کار خود قرار داد. این شرکت با تکیه بر نیروهای متخصص خود و با تجربه مدیران ارشد شرکت در زمینه فناوری اطلاعات و ارتباطات، آمادگی دارد به منظور...</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>
    </body>
</html>
